.waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 60px;
  }
  .waviy span {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
    
  }
  @keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  } 
  .skill-card {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: center;
    transition: box-shadow 0.3s ease;
  }
  
  .skill-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .skill-header h3 {
    margin-left: 10px;
    font-size: 20px;
  }
  
  .proficiency-bar {
    background-color: #eee;
    height: 20px;
    border-radius: 10px;
    margin-top: 10px;
  }
  
  .proficiency-fill {
    background-color: #007bff;
    height: 100%;
    border-radius: 10px;
    color: #fff;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  /* styles.css */
.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon {
  margin-right: 10px; /* Adjust as needed for spacing */
  font-size: 24px; /* Adjust icon size as needed */
  color: #ffffff; /* Adjust icon color as needed */
  text-decoration: none;
}

.social-icon:hover {
  color: #0077B5; /* Adjust hover color as needed */
}

      